
@import "css/owl.carousel.css";
@import "css/owl.theme.default.css";
@import "css/style_index.css";
@import "style.css";

$main_color: red;
$sub_color: yellow;
$white: white;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.block_test{

  height: 100px;
  background-color: $main_color;
  color: $white;
  border: solid 10px $sub_color;
  @include max-screen(767px){
    width: 300px;
  }
  p{
    span{
      color: $main_color;
    }
    &:hover{
      color: $sub_color;
    }
    &.active{
      font-size: 20px;
    }
  }
}

